@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Montserrat'); 

/* MAIN NAVIGATION */

nav ul {
    list-style: none;
    list-style-image: none;
}

nav li {
    display: inline;
    margin: 0 1.5em 10px 0;
}

nav a {
    color: #222;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
}

nav li#selected {
    font-weight: bold;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

/* HEADER */

#header {
    display: block;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
    margin-right: 35px;
    margin-bottom: 35px;
}

#title {
    color: #2e2e2e;
    font-size: 28px;
    font-family: Dosis;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.0714286em;
}

#subtitle {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 1em;
    color: #999;
    text-align: right;
}

/* IMAGES */

img {
    max-width: 30%;
    height: auto;
}

#gallery {
    display: block;
    clear: both;
}

/* MOBILE RULES */

@media only screen and (max-width: 600px) {
    img {
        max-width: 100px;
    }
}