.sqs-pill-shopping-cart{
    font:400 normal 12px / 22px 'Gotham SSm A','Gotham SSm B','Gotham SSm','Proxima Nova','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing:normal
}
.sqs-pill-shopping-cart.sqs-scalable-hidden{
    display:none
}
.sqs-pill-shopping-cart-content{
    min-width:220px;
    border-radius:30px;
    height:26px;
    cursor:pointer;
    white-space:nowrap;
    line-height:18px;
    font-size:12px;
    padding:10px 15px
}
.sqs-pill-shopping-cart .icon{
    height:18px;
    width:18px;
    display:inline-block;
    margin-right:15px;
    position:relative;
    top:5px;
    margin-right:10px;
    margin-left:5px
}
.sqs-pill-shopping-cart .details{
    float:none;
    text-transform:none;
    display:inline-block;
    letter-spacing:0;
    line-height:normal;
    font-style:normal
}
.sqs-pill-shopping-cart .subtotal{
    border:none;
    padding:0;
    display:inline-block;
    position:absolute;
    right:25px;
    top:14px
}
.sqs-pill-shopping-cart .subtotal .price{
    font-size:15px;
    font-weight:bold;
    max-width:100px;
    float:right;
    letter-spacing:1px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:22px
}
.sqs-pill-shopping-cart-content.dark{
    box-shadow:0 0 0 1px rgba(0,0,0,.085), 0 1px 0 0 rgba(0,0,0,.15);
    border:1px solid rgba(255,255,255,.05);
    color:#ddd;
    background-color:#111;
    background-image:-o-linear-gradient(#1e1e1e,#040404);
    background-image:-moz-linear-gradient(#1e1e1e,#040404);
    background-image:-ms-linear-gradient(#1e1e1e,#040404);
    background-image:-webkit-linear-gradient(#1e1e1e,#040404);
    background-image:linear-gradient(#1e1e1e,#040404)
}
.sqs-pill-shopping-cart-content.dark .icon{
    background:transparent url('//static.squarespace.com/universal/images-v6/damask/cart-16-light.png') center center no-repeat
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:1.5dppx){
    .sqs-pill-shopping-cart-content.dark .icon{
        background-image:url('//static.squarespace.com/universal/images-v6/damask/cart-32-light.png');
        background-size:16px
    }
}
.sqs-pill-shopping-cart-content.dark:hover{
    color:#fff
}
@media only screen and (max-width:700px){
    .sqs-pill-shopping-cart{
        position:fixed;
        bottom:0;
        left:0;
        top:auto;
        width:100%
    }
    .sqs-pill-shopping-cart-content{
        border-radius:0px
    }
}
