@import url('https://fonts.googleapis.com/css?family=Dosis');

header,nav,section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.6em;
}

body {
  font-family: sans-serif;
  color: #222;
}

a {
  color: #0085bd;
  text-decoration: none;
}

a:hover {
  color: #60a5dd;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,a:active {
  outline: 0;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: inline-block;
}

/*IE9_SPLIT_MARKER*/

.sqs-spin {
  background-color: transparent;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: sqs-spin 1s infinite linear;
  -moz-animation: sqs-spin 1s infinite linear;
  -ms-animation: sqs-spin 1s infinite linear;
  -o-animation: sqs-spin 1s infinite linear;
  animation: sqs-spin 1s infinite linear;
}

@-webkit-keyframes sqs-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes sqs-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes sqs-spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes sqs-spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes sqs-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*IE9_SPLIT_MARKER*/

@font-face {
  font-weight: normal;
  font-style: normal;
}

.sqs-gallery-design-autocolumns {
  position: relative;
}

.sqs-gallery-design-autocolumns-slide {
  position: absolute;
}

.sqs-gallery-design-autocolumns-slide img {
  width: 100%;
  display: inline-block;
  transition: opacity .2s;
  opacity: 1;
}

.sqs-gallery-design-autocolumns-slide.slide-stretched img {
  height: 100%;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

/*! WARNING: block .less requested, but unable to resolve css from system cache: calendar */

/*! WARNING: block .less requested, but unable to resolve css from system cache: album */

@font-face {
  font-family: 'social-icon-font';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social-icon-font';
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  color: #454545;
}

body h1,body h2,body h3 {
  color: #222;
}

body h1 a,body h1 a:visited {
  color: #222;
}

body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.67em;
  font-size: 15px;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  color: #454545;
}

h1,h2,h3 {
  margin: 1.5em 0 .5em;
  line-height: 1.2;
  font-size: 24px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  font-size: 42px;
  font-family: proxima-nova;
  font-weight: 100;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0px;
  text-transform: none;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36.75px;
}

h3 {
  font-size: 31.5px;
}

p {
  margin: 0 0 1.25em;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.67em;
  font-size: 15px;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  color: #454545;
}

ul {
  margin-bottom: 24px;
}

nav ul {
  margin: 0;
}

header,section {
  zoom: 1;
}

header:after,section:after,header:before,section:before {
  content: "";
  display: table;
}

header:after,section:after {
  clear: both;
}

#topBar h1 {
  -webkit-transition: margin .65s ease-in-out;
  -moz-transition: margin .65s ease-in-out;
  -o-transition: margin .65s ease-in-out;
  transition: margin .65s ease-in-out;
}

#navigator #project .switcher {
  -webkit-transition: all .65s ease-in-out;
  -o-transition: all .65s ease-in-out;
  -moz-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
  -webkit-backface-visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

a,a:visited {
  color: #1f1f1f;
  border-bottom: 1px solid transparent;
  -webkit-transition: border .5s ease-out;
  -moz-transition: border .5s ease-out;
  -o-transition: border .5s ease-out;
  transition: border .5s ease-out;
}

a:hover {
  color: #5c5c5c;
  border-color: #5c5c5c;
  -webkit-transition: border 0s ease-out;
  -moz-transition: border 0s ease-out;
  -o-transition: border 0s ease-out;
  transition: border 0s ease-out;
}

#navigator {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#navigator.loaded {
  opacity: 1;
}

#navigator header#topBar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  z-index: 8000;
  background-color: #fff;
}

#navigator header#topBar ul#nav {
  display: block;
  float: left;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 14px;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 35px 0 25px 0;
  margin: 0 0 0 35px;
  max-width: 49%;
  -webkit-transition: padding .25s ease-out;
  -moz-transition: padding .25s ease-out;
  -o-transition: padding .25s ease-out;
  transition: padding .25s ease-out;
}

#navigator header#topBar ul#nav li {
  display: inline-block;
  margin: 0 1.5em 10px 0;
  position: relative;
  zoom: 1;
  *display: inline;
}

#navigator header#topBar ul#nav li a {
  color: #8a8a8a;
  text-decoration: none;
  padding: 0 0 2px 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: border .25s ease-out;
  -moz-transition: border .25s ease-out;
  -o-transition: border .25s ease-out;
  transition: border .25s ease-out;
}

#navigator header#topBar ul#nav li.active-link>a {
  color: #222;
  border-color: #222;
  -webkit-transition: border 0s ease-out;
  -moz-transition: border 0s ease-out;
  -o-transition: border 0s ease-out;
  transition: border 0s ease-out;
}

#navigator header#topBar ul#nav li a:hover {
  color: #222;
  border-color: #222;
  -webkit-transition: border 0s ease-out;
  -moz-transition: border 0s ease-out;
  -o-transition: border 0s ease-out;
  transition: border 0s ease-out;
}

#navigator .siteTitle {
  margin: 0 35px;
  position: relative;
  top: 0;
  z-index: 7999;
}

#navigator .siteTitle a,#navigator .siteTitle a:visited,#navigator .siteTitle a:hover {
  color: #2e2e2e;
  border-bottom: none;
}

#navigator {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

#navigator .siteTitle {
  display: block;
  float: right;
  padding: 35px 0;
  max-width: 35%;
  text-align: right;
}

#navigator .siteTitle h1 {
  display: inline-block;
  color: #2e2e2e;
  margin: 0;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 28px;
  font-family: Dosis;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
}

#navigator h2.logo-subtitle {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  font-size: 15px;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0px;
  text-transform: none;
  text-align: right;
  margin: .75em 0 0;
  color: #999;
}

#container {
  max-width: 1200px;
  margin: 85px 0 0px 0;
  overflow: hidden;
}

.site-alignment-center #container {
  margin: 85px auto 0;
}

#container-content {
  padding: 85px 30px 23px 30px;
}

#grid {
  z-index: 3;
  background-color: #fff;
}

#grid .item {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  display: block;
  overflow: hidden;
}

#grid .item img {
  opacity: 1;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

#grid .item .wrapper {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 24px;
  background-color: rgba(15,15,15,.7);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

#project {
  position: relative;
}

#project .gallery {
  margin: 52px 135px 50px 400px;
  max-width: 900px;
  min-width: 300px;
  -webkit-transition: min-height .2s ease-in-out;
  -moz-transition: min-height .2s ease-in-out;
  -o-transition: min-height .2s ease-in-out;
  transition: min-height .2s ease-in-out;
  -webkit-transform: translatez(0);
}

#project .project-item>.meta {
  position: fixed;
  -webkit-backface-visibility: hidden;
  width: 300px;
  float: left;
  padding: 47px 35px 47px 32px;
  z-index: 3;
}

#project .project-item>.meta h1 {
  font-size: 24px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  font-size: 42px;
  font-family: proxima-nova;
  font-weight: 100;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0px;
  text-transform: none;
  color: #222;
  margin-top: 0;
}

#project .project-item>.meta div.body {
  color: #454545;
  font-size: 15px;
}

#project .project-item>.meta div.body p {
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.67em;
  font-size: 15px;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
}

#navigator .switcher {
  display: none;
  position: fixed;
  width: 78px;
  min-width: 78px;
  top: 135px;
  right: 32px;
  overflow: hidden;
  z-index: 2;
}

#navigator .switcher .projectHome {
  display: none;
}

#navigator .switcher .projectPrev:hover,#navigator .switcher .projectNext:hover,#navigator .switcher .projectHome:hover {
  opacity: .4;
  border: none;
  border-color: transparent;
}

.projectPrev,.projectNext,.projectHome {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  opacity: 1;
  background-color: #fff;
  cursor: pointer;
  border-bottom-width: 0px;
}

.projectPrev:before,.projectNext:before,.projectHome:before {
  color: #2e2e2e;
  width: 38px !important;
  height: 38px !important;
  line-height: 38px !important;
  text-align: center;
}

.projectPrev:before {
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e02c";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.projectPrev:before {
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.projectPrev:before {
  font-size: 15px;
}

.projectNext:before {
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e02d";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.projectNext:before {
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.projectNext:before {
  font-size: 15px;
}

.projectHome:before {
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e014";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.projectHome:before {
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.projectHome:before {
  font-size: 21px;
}

.projectPrev,.projectHome {
  margin-right: 2px;
}

body.collection-type-index #container {
  max-width: none;
}

body.collection-type-index #container-content {
  padding: 0;
}

html:not(.touch) #topBar,html:not(.touch) #grid img,html:not(.touch) #grid div.wrapper {
  -webkit-perspective: 1000;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.visually-hidden {
  height: 0;
  overflow: hidden;
  position: relative;
}

.visually-hidden>* {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.sqs-spin {
  display: none;
  height: 30px;
  width: 30px;
  border: 2px solid rgba(0,0,0,.7);
  border-top-color: rgba(0,0,0,.08);
  border-left-color: rgba(0,0,0,.08);
}

.sqs-cart-dropzone {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 8000;
}

@media only screen and (max-width:1024px) {
  #container-content {
    padding: 45px 35px 75px;
  }

  body.collection-type-index #container-content {
    padding: 0;
  }

  #project .project-item>.meta {
    position: relative !important;
    float: none;
    width: auto;
    margin: 0;
    padding: 40px;
  }

  #project .gallery {
    position: static;
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0;
    padding: 0 20px;
  }

  #project .switcher {
    position: static;
    width: 118px;
    margin: 30px auto;
    text-align: center;
  }

  #project .switcher .projectHome {
    display: block;
  }
}

@media only screen and (max-width:640px) {

  #container-content {
    padding: 45px 20px 75px;
  }

  body.collection-type-index #container-content {
    padding: 0;
  }

  #navigator .siteTitle {
    margin: 0 20px !important;
    float: none !important;
    padding: 25px 0 20px !important;
    max-width: 100% !important;
    text-align: center !important;
  }

  #navigator .siteTitle h1 {
    text-align: center !important;
  }

  #navigator .siteTitle h2.logo-subtitle {
    text-align: center !important;
  }

  #navigator header#topBar ul#nav {
    float: none;
    max-width: none;
    text-align: center;
  }

  #navigator header#topBar {
    position: absolute;
  }

  #project .project-item>.meta {
    padding: 20px 20px 0 20px;
    margin: 20px 0;
  }

  #project .gallery {
    padding: 20px 5px;
    padding-bottom: 0;
  }
}

div.project-title {
  visibility: hidden;
}

.wrapper {
  background-color: rgba(255,255,255,.1) !important;
}